@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';
.app-input {
  $self: &;
  display: flex;
  align-items: center;
  background: #FFF6ED;
  border-radius: 12px;
  padding-right: 20px;
  color: $color-text;
  height: 56px;
  input {
    height: 100%;
    flex-grow: 1;
    background-color: transparent !important;
    border: 0;
    padding: 0;
    padding-left: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    font-family: $font-first;
    color: inherit;
    @include placeholder {
      color: rgba($color-text, 0.5);
    }
    &::selection{
      background: rgba($color-primary, 0.3);
    }
    
    &::-moz-selection{
      background: rgba($color-primary, 0.3);
    }
  }
  &__icon {
    height: 100%;
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #FFF3E9;
    svg {
      width: 16px;
      height: 16px;
      opacity: 0.5;
    }
  }
  &--focused {
    color: $color-primary;
    #{$self}__icon svg {
      opacity: 1;
    }
  }
  &--theme-white {
    background-color: #fff;
  }
}