@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';
.app-input {
  display: flex;
  align-items: center;
  background: #FFF6ED;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 20px;
  color: $color-text;
  input {
    flex-grow: 1;
    height: 56px;
    background-color: transparent !important;
    border: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    font-family: $font-first;
    color: inherit;
    @include placeholder {
      color: rgba($color-text, 0.5);
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  &--focused {
    color: $color-primary;
  }
}