@import '../../assets/styles/variables';
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  min-height: 100%;
  position: relative;
  z-index: 0;
  color: $color-text;
  background: #FFF3E9 url('./login-01.png') top center/cover no-repeat;
  &__title {
    margin: 0 0 41px;
    font-size: 32px;
    line-height: 1;
    font-family: $font-second;
    text-transform: uppercase;
    text-align: center;
  }
  &__social-button {
    width: 100%;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__social {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
  }
  &__form-body {
    border-radius: 20px 20px 0 0;
    background-color: #fff;
  }
  &__form-header {
    margin-bottom: 16px;
    padding: 12px 20px 11px;
    border-bottom: 1px solid #FFF3E9;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  &__form-wrap {
    padding: 0 20px 28px;
  }
  &__form-button {
    width: 100%;
    margin-bottom: 13px;
  }
  &__form-link {
    margin-bottom: 6px;
    text-decoration-line: underline;
  }
  &__form-text {
    margin: 0;
  }
  &__form-input {
    width: 100%;
    display: block;
    margin-bottom: 8px;
    &--last {
      margin-bottom: 20px;
    }
  }
  &__text {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    a {
      font-weight: 700;
    }
  }
  &__question-button {
    position: absolute;
    top: 39px;
    right: 20px;
    &:active {
      color: $color-primary;
    }
  }
}